body {
  height: 300px;
  width: 800px;
}

div {
  display: block;
}
fieldset {
  width: 500px;
  box-sizing: border-box;
  border: 1px solid #999;
}
input {
  width: 300px;
}
input:focus {
  border-color: #000;
}
form {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
.smallInput input {
  width: 20px;
}
